/* --------------- Works --------------- */

.work-card-ms{

    .sec-head-xlg{

        h2{
            font-size: 30vw;
            line-height: .8;
        }
    }

    .card-item{
        margin-top: 50px;

        .img{
            position: relative;
            height: 450px;
            border-radius: 15px;
            overflow: hidden;

            .cont{
                position: absolute;
                bottom: 15px;
                left: 15px;
                right: 15px;
                background: #fff;
                border-radius: 15px;
                padding: 15px 30px;

                .tag{
                    font-size: 13px;
                    text-transform: uppercase;
                    padding: 2px 25px;
                    border: 1px solid rgba(0,0,0,.2);
                    border-radius: 40px;
                    margin-bottom: 10px;
                    transition: all .4s;

                    &:hover{
                        background: #2A2D2F;
                        color: #fff;
                    }
                }
            }
        }
    }
}